$input-bg: #ffe5d9;
$input-color: #852b00;

:host {
  display: flex;
  height: 100%;
  --logo-bg: transparent;
  --padding-left: clamp(100px, 10vw, 150px);
  // background-color: white;
}

// form group and form control
.form-group {
  margin-bottom: 15px;
}

.form-control,
.form-select {
  background-color: #{$input-bg};
  color: #{$input-color};
  border: none;

  &::placeholder {
    color: #{$input-color};
  }

  &:focus {
    color: #{darken($input-color, 10%)};
    background-color: #{darken($input-bg, 10%)};
    box-shadow: var(--kt-box-shadow-xs) !important;

    &+.input-group-text {
      background-color: #{darken($input-bg, 10%)};
      color: #{darken($input-color, 10%)};
      box-shadow: var(--kt-box-shadow-xs) !important;
      border: none;
    }
  }
}

.input-group-text {
  background-color: #{$input-bg};
  color: #{$input-color};
  border: none;
}

.form-check-input {
  background-color: #{$input-bg};
  // border: 0.5px solid #{$input-color};
  border: none;
  outline: none;
  width: 25px;
  box-shadow: var(--kt-box-shadow-sm);

  &:checked {
    background-color: #{$input-color};
    border: #{darken($input-color, 10%)};
  }
}

.form-control.validate.captcha-validate {
  background-position: right calc(0.375em + 0.3875rem) top 15px !important;
}

.forgot-password-page--wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  transition: all 1s ease-in-out;
  min-height: 100%;

  background-image: url('/assets/media/illustrations/login-illust-1.svg');
  background-size: 300px 350px;
  background-repeat: no-repeat;
  background-position: top 50% right 50%;
  background-attachment: scroll;
  // backdrop-filter: blur(1.3px) brightness(1.0);

  &[hideBackgroundImage='true'] {
    background-size: 0 0;
    background-position: top -100% right 50%;
    background-attachment: scroll;
    transition: all 1s ease-in-out;
  }

  @media (min-width: 870.0001px) and (max-width: 1150px) {
    background-position: top 20% right 10%;
    transition: all 1s ease-in-out;
  }

  // @media (max-width: 988px) {
  //   background-size: 200px 240px;
  //   background-position: top 50% right 50%;
  //   transition: all 1s ease-in-out;
  // }

  // @media (max-width: 882px) {
  //   background-size: 180px 200px;
  //   background-position: top 45% right 50%;
  //   transition: all 1s ease-in-out;
  // }

  @media (max-width: 870px) {
    background-size: 0 0;
    background-position: top - 100%;
    transition: all 1s ease-in-out;
  }
}

.brand-logo {
  flex: 0 0 clamp(150px, 30vh, 250px);
  display: grid;
  justify-content: flex-start;
  align-content: center;
  padding-inline-start: var(--padding-left);
  background-color: var(--logo-bg);
  transition: all 1s ease-in-out;
}

.forgot-password-page--main {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.forgot-password-page--header {
  flex: 0 1 100%;
  display: flex;
  flex-flow: column;
  padding-left: var(--padding-left);
}

.forgot-password-page--header .forgot-password-page--header-title {
  &>div:nth-child(1) {
    font-size: clamp(3rem, 2rem + 2vw, 4rem);
    font-weight: 600;
    color: #{#1c1a1a};
  }

  &>div:nth-child(2) {
    font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
    font-weight: 500;
    color: #{darken($input-color, 10%)};
  }
}

.forgot-password-page--header .forgot-password-page--header-paragraph {
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 500;

  transition: all 1s ease-in-out;

  &>div:nth-child(1) {
    color: #{darken($input-bg, 50%)};

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    max-width: clamp(350px, 35vw, 450px);

    transition: all 1s ease-in-out;
    margin-bottom: 10px;
  }

  &>div:nth-child(2) {
    // color: #{$input-color};
    color: rgb(168, 164, 164);
    max-width: clamp(350px, 35vw, 450px);
    white-space: pre-line;
    transition: all 1s ease-in-out;
  }
}

.forgot-password-page--form {
  margin-top: 0px;
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s ease-in-out;

  // position: absolute;
  // top: 50%;
  // right: clamp(100px, 10vw, 150px);
  // transform: translateY(-50%);
}

.multistep-forgot-password-form--wrapper {
  box-shadow: 0 0 10px 0 rgba(154, 147, 147, 0.3);
  border-radius: 15px;
  backdrop-filter: blur(2px);
  height: max-content;
  max-width: 420px;

  background: #ffffff2f;

  transition: all 1s ease-in-out;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 20px 25px;
  transition: all 1s ease-in-out;

  // margin-top: -150px;
  // height: clamp(530px, 75vh, 700px);
  overflow-y: scroll;

  @media (max-width: 1149.111px) {
    margin-top: 0px;
    height: max-content;
    overflow-y: scroll;
    transition: all 1s ease-in-out;
  }
}

.multistep-forgot-password-form--wrapper .forgot-password-form--headline {
  text-align: center;

  & .title-xl {
    font-size: clamp(1.5rem, 1.5rem + 1vw, 2rem);
    font-weight: 600;

    transition: all 1s ease-in-out;
  }

  & .title-md {
    font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
    font-weight: 500;

    transition: all 1s ease-in-out;
  }
}

.multistep-forgot-password-form {
  min-width: 300px;
  scrollbar-width: none !important;
  transition: all 1s ease-in-out;
}

.forgot-password {
  color: #{darken($input-color, 10%)};
}

::ng-deep {
  .form-group {
    margin-bottom: 20px;
  }
}

@media (max-width: 870px) {
  .brand-logo {
    justify-content: center;
    padding-inline-start: 0;
    flex: 0 0 clamp(100px, 30vw, 150px);
    overflow: hidden;
    transition: all 1s ease-in-out;
  }

  .forgot-password-page--main {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    gap: 0;
  }

  .forgot-password-page--header {
    display: none !important;
  }

  .forgot-password-page--form {
    // padding-left: 0;
    right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 10px;
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 870.0001px) and (max-width: 1150px) {
  .forgot-password-page--main {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    gap: 0;
  }

  .forgot-password-page--header {
    align-self: flex-start;
  }

  .forgot-password-page--form {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-top: 30px;
  }

  .multistep-forgot-password-form--wrapper {}

  .forgot-password-page--header .forgot-password-page--header-paragraph {
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 500;

    transition: all 1s ease-in-out;

    &>div:nth-child(1) {
      color: #{darken($input-bg, 50%)};

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      max-width: clamp(350px, 55vw, 650px);

      transition: all 1s ease-in-out;
      margin-bottom: 10px;
    }

    &>div:nth-child(2) {
      // color: #{$input-color};
      color: rgb(168, 164, 164);
      max-width: clamp(350px, 55vw, 650px);
      white-space: pre-line;
      transition: all 1s ease-in-out;
    }
  }
}

.custom-switch-button {
  background-color: #fdf7f7;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;

  color: #{$input-color};
  position: relative;

  //border: 1px solid green;
  padding: 5px 10px;

  .custom-switch-button-checkbox {
    display: none;
  }

  .custom-switch-label-wrapper {
    display: flex;

    //border: 1px solid orange;

    .label {
      padding: 9px;
      border-radius: 10px;
      font-weight: bold;
      transition: all 0.2s linear;
    }

    .label.active {
      background: #{$input-bg};
    }
  }
}

.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #155fff;
  position: relative;
  padding-right: 120px;
  position: relative;

  &:before {
    content: 'Video';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked+.switch-button-label:before {
      transform: translateX(120px);
      transition: transform 300ms linear;
    }

    &+.switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: '';
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}