<div [attr.hideBackgroundImage]="false" class="forgot-password-page--wrapper flex-row-fluid">
  <!--Brand Logo Begin-->
  <div class="brand-logo">
    <img
      alt="CEDA BRAND LOGO"
      class="h-70px"
      src="./assets/media/logos/ceda-logo-transparent.png"
    />
  </div>
  <!--Brand Logo End-->

  <!--  forgot-password Page Main Block-->
  <div class="forgot-password-page--main">
    <!-- forgot-password Page Header-->
    <div class="forgot-password-page--header">
      <div class="forgot-password-page--header-title">
        <div class="title-xxl">Forgot Password</div>

        <div class="title-xl">CEDA Online Services</div>
      </div>

      <div class="forgot-password-page--header-paragraph">
        <!-- Experience the Next Generation of Loan Management: Register Now with CEDA Online Services -->
        <div class="paragraph-lg">
          <ng-container [ngSwitch]="forgotPasswordStep">
            <ng-container *ngSwitchCase="0">
              Join the Smart Way to Manage Your Loans with CEDA Online Services
            </ng-container>
            <ng-container *ngSwitchCase="1">
              Secure Your Account with OTP-Based Two-Factor Authentication
            </ng-container>
            <ng-container *ngSwitchCase="2">
              Create a Strong Password to Protect Your Account
            </ng-container>
          </ng-container>
        </div>

        <div class="paragraph-lg">
          <ng-container [ngSwitch]="forgotPasswordStep">
            <ng-container *ngSwitchCase="0">
              Apply for Loans, Make Payments, and Take Control of Your Finances Today
            </ng-container>
            <ng-container *ngSwitchCase="1">
              Enter the OTP Sent to Your Registered Mobile Number to Verify Your Identity
            </ng-container>
            <ng-container *ngSwitchCase="2">
              Use a Combination of Letters, Numbers, and Symbols to Keep Your Account Secure
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <!--forgot-password Page Header End-->

    <!--    forgot-password page form-->
    <div class="forgot-password-page--form">
      <div class="multistep-forgot-password-form--wrapper">
        <div class="forgot-password-form--headline">
          <div class="title-xl text-dark-50 opacity-90">
            <ng-container [ngSwitch]="forgotPasswordStep">
              <ng-container *ngSwitchCase="0">Find Your Account</ng-container>
              <ng-container *ngSwitchCase="1">Verify You Identity</ng-container>
              <ng-container *ngSwitchCase="2">Create a Strong Password</ng-container>
            </ng-container>
          </div>
          <div class="title-md text-gray-700">
            <ng-container [ngSwitch]="forgotPasswordStep">
              <ng-container *ngSwitchCase="0">
                <!-- Already have an account?
                <a class="register-link text-primary fw-bolder" href="#"
                  >Sign In</a
                > -->
                <span>Enter your login Id to proceed</span>
                <span class="d-block text-muted">
                  Already have an account?
                  <a class="register-link text-primary fw-normal" routerLink="/auth/login">
                    Sign In
                  </a>
                </span>
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <!-- Already have an account?
                <a class="register-link text-primary fw-bolder" href="#"
                  >Sign In</a
                > -->
                Enter the OTP recevied on register mobile number
              </ng-container>
              <ng-container *ngSwitchCase="2">
                <!-- Already have an account?
                <a class="register-link text-primary fw-bolder" href="#"
                  >Sign In</a
                > -->
                Enter your new password
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="forgot-password-form--error"></div>
        <div class="multistep-forgot-password-form position-relative">
          <form [formGroup]="forgotPasswordForm" class="form">
            <ng-container [ngSwitch]="forgotPasswordStep">
              <!-- Step 1: Sign Up Form-->
              <ng-container *ngSwitchCase="0">
                <div [formGroupName]="'findAccountForm'" class="d-flex flex-column">
                  <!-- Login ID -->
                  <div class="form-group">
                    <label class="form-label required">Login Id</label>
                    <input
                      autocomplete="new-password"
                      class="form-control validate h-auto py-4 px-6 rounded-lg"
                      formControlName="loginId"
                      placeholder="Enter Login Id"
                      type="text"
                    />

                    <a
                      class="register-link text-primary fw-normal d-block text-end"
                      [routerLink]="['/auth/forgot-login-id']"
                    >
                      Forgot Login Id
                    </a>
                  </div>

                  <!-- * Action Buttons -->

                  <div class="form-group">
                    <button
                      (click)="findAccountFormSubmitted()"
                      [disabled]="findAccountForm.invalid || (loader.loading$ | async) === true"
                      class="btn btn-primary w-100 h-40px fs-6 fw-bolder"
                      type="button"
                    >
                      <span *ngIf="(loader.loading$ | async) === false">
                        <span class="ms-2">Proceed</span>
                      </span>

                      <span *ngIf="(loader.loading$ | async) === true">
                        <span
                          aria-hidden="true"
                          class="spinner-border spinner-border-sm"
                          role="status"
                        ></span>
                        <span class="ms-2">Loading...</span>
                      </span>
                    </button>

                    <div class="title-md text-end mt-2"></div>
                  </div>
                </div>
              </ng-container>

              <!--          Step 2: Two Factor Authentication-->
              <ng-container *ngSwitchCase="1">
                <div [formGroupName]="'verifyOtpForm'" class="d-flex flex-column">
                  <div class="separator separator-2 separator-dashed fs-3 mb-2"></div>
                  <div class="fw-bold text-center fs-2 ls-2 my-2">OTP</div>

                  <app-otp-input formControlName="otpDigits"></app-otp-input>
                  <div class="text-end form-group">
                    <button
                      [disabled]="(timeLeft$ | async) !== 0"
                      (click)="resetTimer()"
                      class="text-primary fw-bold cursor-pointer btn btn-outline-light"
                    >
                      Re-Send OTP
                    </button>
                    <span class="text-muted fw-bold">
                      ( {{ (timeLeft$ | async) || '60' }} sec left )
                    </span>
                  </div>

                  <!-- Action Button -->
                  <div class="form-group">
                    <button
                      (click)="verifyAccountFormSubmitted()"
                      [disabled]="verifyOtpForm.invalid || (loader.loading$ | async) === true"
                      class="btn btn-primary w-100 h-40px fs-6 fw-bolder"
                      type="button"
                    >
                      <span *ngIf="(loader.loading$ | async) === false">
                        <span class="ms-2">Verify</span>
                      </span>

                      <span *ngIf="(loader.loading$ | async) === true">
                        <span
                          aria-hidden="true"
                          class="spinner-border spinner-border-sm"
                          role="status"
                        ></span>
                        <span class="ms-2">Loading...</span>
                      </span>
                    </button>
                  </div>
                </div>
              </ng-container>

              <!--          Step 3: Create Password-->
              <ng-container *ngSwitchCase="2">
                <!-- <span>Create Password</span> -->
                <!-- ********* Set Password Form ********* -->
                <div [formGroupName]="'resetPasswordForm'" class="d-flex flex-column">
                  <div class="form-group">
                    <!-- <input
                      autocomplete="new-password"
                      class="form-control validate h-auto py-4 px-6 rounded-lg"
                      formControlName="password"
                      placeholder="Create Password"
                      type="password"
                    /> -->
                    <app-password-input
                      placeholder="Create Password"
                      formControlName="password"
                    ></app-password-input>

                    <div
                      *ngIf="resetPasswordForm.get('password')?.dirty"
                      class="invalid-feedback d-block text-wrap mw-325px"
                    >
                      <div *ngIf="resetPasswordForm.get('password')?.errors?.required">
                        Password is required
                      </div>

                      <div
                        *ngIf="
                          !resetPasswordForm.get('password')?.errors?.required &&
                          resetPasswordForm.get('password')?.errors?.password
                        "
                      >
                        {{ resetPasswordForm.get('password')?.errors?.password }}
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <!-- <input
                      autocomplete="new-password"
                      class="form-control validate h-auto py-4 px-6 rounded-lg"
                      formControlName="confirmPassword"
                      placeholder="Confirm Password"
                      type="password"
                    /> -->

                    <app-password-input
                      placeholder="Confirm Passsword"
                      formControlName="confirmPassword"
                    ></app-password-input>

                    <div
                      *ngIf="resetPasswordForm.get('confirmPassword')?.dirty"
                      class="invalid-feedback d-block text-wrap mw-325px"
                    >
                      <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.required">
                        Confirm Password is required
                      </div>

                      <div
                        *ngIf="
                          !resetPasswordForm.get('confirmPassword')?.errors?.required &&
                          resetPasswordForm.get('confirmPassword')?.errors?.password
                        "
                      >
                        {{ 'Invalid Password' }}
                      </div>
                    </div>

                    <div
                      *ngIf="
                        resetPasswordForm.get('confirmPassword')?.dirty &&
                        resetPasswordForm.get('confirmPassword')?.valid &&
                        resetPasswordForm.errors?.mustMatch
                      "
                      class="invalid-feedback d-block text-wrap"
                    >
                      Password and Confirm Password do not match
                    </div>

                    <div
                      *ngIf="
                        resetPasswordForm.get('confirmPassword')?.dirty &&
                        resetPasswordForm.get('confirmPassword')?.valid &&
                        !resetPasswordForm.errors?.mustMatch
                      "
                      class="valid-feedback d-block text-wrap"
                    >
                      Password and Confirm Password matched
                    </div>
                  </div>

                  <div class="form-group">
                    <button
                      [disabled]="forgotPasswordForm.invalid"
                      (click)="resetPasswordFormSubmitted($event)"
                      class="btn btn-primary w-100 h-40px fs-6 fw-bolder"
                      type="button"
                    >
                      <span *ngIf="true">
                        <span class="ms-2">Change Password</span>
                      </span>

                      <span *ngIf="false">
                        <span
                          aria-hidden="true"
                          class="spinner-border spinner-border-sm"
                          role="status"
                        ></span>
                        <span class="ms-2">Loading...</span>
                      </span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  forgot-password Page Main Block-->
</div>

<!--end::Form-->
