$left-column-padding-left: 170px;
$left-column-padding-top: 70px;
$main-logo-mb: 100px;
$logo-size: 70px;
$form-wrapper-padding: 30px;
$right-column-padding-top: $left-column-padding-top+$logo-size+$main-logo-mb - $form-wrapper-padding;


$input-bg: #ffe5d9;
$input-color: #852b00;




:host {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.form-control {

  background-color: #{$input-bg};
  color: #{$input-color};
  border: none;
  box-shadow: none;

  &::placeholder {
    color: #{$input-color};
  }

  &:focus {
    color: #{darken($input-color, 10%)};
    background-color: #{darken($input-bg, 10%)};
    box-shadow: var(--kt-box-shadow-xs) !important;
  }
}

.form-check-input {

  background-color: #{$input-bg};
  border: none;
  box-shadow: var(--kt-box-shadow-xs);

  &:checked {
    background-color: #{$input-color};
    border: none;
    box-shadow: var(--kt-box-shadow-xs);
  }
}


.forgot-password-page {

  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;


  // background image
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: top 70% right 53%;
  background-attachment: scroll;


  position: relative;

  transition: all 0.8s ease-in-out;


  &[hideBackgroundImage=true] {
    background-size: 0 0;
    background-repeat: no-repeat;
    background-position: top -100% right 50%;
    background-attachment: scroll;
    transition: all 0.8s ease-in-out;
  }

}

.left-column {
  display: flex;
  flex-direction: column;

  padding-left: $left-column-padding-left;
  padding-top: $left-column-padding-top;

  & .main-logo {
    margin-bottom: $main-logo-mb;

    height: $logo-size;
    width: $logo-size * 2;
  }

  & .heading {
    margin-bottom: 0;
  }

  & .subheading {
    margin-top: 5px;
  }

}

.right-column {

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: $right-column-padding-top;

  & .form-wrapper {
    max-width: 400px;
    min-width: 300px;
    height: max-content;
    // padding: $form-wrapper-padding;
    padding: $form-wrapper-padding;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    box-shadow: 0 0 3px 0 #e4e3da, inset 0 0 2px 0 #ddd6b0;
    border-radius: 15px;
    backdrop-filter: blur(20px);

    transition: all 0.8s ease-in-out;

  }
}

.form-wrapper {

  // & .form-title {
  //   font-size: 30px;
  //   font-weight: 600;
  //   margin-bottom: 20px;
  // }

  // & .form-subtitle {
  //   font-size: 16px;
  //   font-weight: 300;
  //   margin-bottom: 20px;
  // }
}


// .animation-text {
//   .animation-item {
//     position: relative;

//     &::after {
//       content: '';
//       position: absolute;
//       top: 80%;
//       left: 0;
//       height: 100%;
//       width: 100%;


//       background-image: url('/assets/media/patterns/underline.svg');
//       background-repeat: no-repeat;
//       background-size: 100% 100%;
//       background-position: center;

//     }
//   }
// }


// .register-link {
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     top: 80%;
//     left: 0;
//     height: 100%;
//     width: 100%;

//     background-image: url('/assets/media/patterns/underline_2.svg');
//     background-repeat: no-repeat;
//     background-size: 200% 200%;
//     background-position: center;
//     transform: rotate(180deg);


//   }
// }


.swalbackground {
  background-color: aliceblue !important;
}
