<svg
  viewBox="0 0 960 540"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  version="1.1"
  class="min-h-screen min-w-screen fixed left-0"
  preserveAspectRatio="none"
>
  <rect x="0" y="0" width="960" height="540" fill="var(--surface-ground)"></rect>
  <path
    d="M0 331L26.7 321C53.3 311 106.7 291 160 291C213.3 291 266.7 311 320 329.5C373.3 348 426.7 365 480 373.2C533.3 381.3 586.7 380.7 640 373.8C693.3 367 746.7 354 800 341.2C853.3 328.3 906.7 315.7 933.3 309.3L960 303L960 541L933.3 541C906.7 541 853.3 541 800 541C746.7 541 693.3 541 640 541C586.7 541 533.3 541 480 541C426.7 541 373.3 541 320 541C266.7 541 213.3 541 160 541C106.7 541 53.3 541 26.7 541L0 541Z"
    fill="var(--red-500)"
    stroke-linecap="round"
    stroke-linejoin="miter"
  ></path>
</svg>

<div class="px-5 min-h-screen flex flex-column align-items-center z-1">
  <div class="d-flex justify-content-around w-100 align-items-center z-1 pt-5">
    <!-- Navigation -->

    <div class="navigation-wrapper d-flex gap-5">
      <a class="btn border-0 border border-bottom-1" href="javascript:void(0)">HOME</a>
      <a href="javascript:void(0)">ABOUT</a>
    </div>

    <!-- Logo -->
    <div class="logo-wrapper">
      <img src="./assets/media/logos/ceda-logo-transparent.png" class="h-75px" />
    </div>

    <div class="navigation-wrapper">
      <a href="javascript:void(0)">FAQ</a>
      <a href="javascript:void(0)">CONTACT</a>
    </div>
  </div>

  <div class="flex-grow-1 z-1">
    <div class="z-1 text-center d-flex flex-center flex-column">
      <div class="text-900 font-bold text-8xl mb-4">UNDER MAINTAINANCE</div>
      <p class="line-height-3 mt-0 mb-5 text-700 text-xl font-medium">
        We are working hard to provide you better services
      </p>
    </div>
  </div>

  <div class="footer-wrapper z-1">
    <div class="d-flex flex-row gap-8 flex-center flex-wrap-reverse">
      <a
        href="https://www.facebook.com/cedaBW"
        target="_blank"
        class="nav-link text-hover-primary d-flex"
      >
        <i class="bi bi-facebook fs-4"></i>
        <!-- <span inlineSVG="./assets/media/icons/facebook.svg" class="svg-icon svg-icon-3"></span> -->
      </a>
      <a
        href="https://www.instagram.com/ceda_bw/"
        target="_blank"
        class="nav-link text-hover-primary d-flex"
      >
        <i class="bi bi-instagram fs-4"></i>
        <!-- <span inlineSVG="./assets/media/icons/instagram.svg" class="svg-icon svg-icon-3"></span> -->
      </a>
      <a
        href="https://twitter.com/CEDA_BW"
        target="_blank"
        class="nav-link text-hover-primary d-flex"
      >
        <i class="bi bi-twitter fs-4"></i>

        <!-- <span inlineSVG="./assets/media/icons/twitter-x.svg" class="svg-icon svg-icon-1"></span> -->
      </a>

      <!-- <div class="">
        <img src="https://www.positivessl.com/images/seals/positivessl_trust_seal_md_167x42.png" />
      </div> -->
    </div>

    <div class="d-flex gap-3">
      <span style="" class="fs-5 fw-bold text-white">Powered By:</span>
      <a href="https://www.manamtech.com/" target="_blank" class="fs-6 fw-bold text-white">
        Manam Infotech Pvt. Ltd.
      </a>
    </div>
  </div>
</div>
