<!-- <div class="dashboard-v2--wrapper">
  <div class="offer-carousel-wrapper">
    <app-offer-carousel></app-offer-carousel>
  </div>

  <div class="first-column">
    <div class="my-loan-cards-wrapper">
      <app-my-loan-cards [activeLoans]="userActiveLoans"></app-my-loan-cards>
    </div>

    <div class="recent-loan-transactions-wrapper h-100">
      <app-recent-loan-transactions></app-recent-loan-transactions>
    </div>

    <div class="recent-loans-wrapper">
      <app-recent-loans></app-recent-loans>
    </div>
  </div>

  <div class="second-column">
    <div class="recent-loan-transactions-wrapper">
      <app-recent-loan-transactions></app-recent-loan-transactions>
    </div>

    <div class="offer-carousel-wrapper">
      <app-offer-carousel></app-offer-carousel>
    </div>

    <div class="sub-flex sub-flex-1">
      <div class="apply-new-loan-application-wrapper">
        <app-apply-new-loan-application></app-apply-new-loan-application>
      </div>

      <div class="resume-application-wrapper">
        <app-resume-application></app-resume-application>
      </div>
    </div>

    <div class="sub-flex sub-flex-2 h-100">
      <div class="active-loan-applications-wrapper">
        <app-active-loan-applications></app-active-loan-applications>
      </div>

      <div class="recent-loans-wrapper">
        <app-recent-loans></app-recent-loans>
      </div>


    </div>
  </div>
</div> -->
