<div class="d-flex flex-column">
  <div class="d-flex flex-stack mb-3">
    <div class="fw-bold fs-6 ls-2">{{ label }}</div>
    <input
      #sliderRefValue
      type="text"
      style="border: 1px solid #e4dfec; border-radius: 10px"
      class="flex-shrink-1 form-control form-control-sm form-control-solid w-90px w-sm-125px w-md-200px w-lg-50"
    />
  </div>
  <div class="slider-wrapper mt-10">
    <div
      #sliderRef
      class="slider noUI-sm noUI-sm noUi-draggable noUI-target-primary"
      id="slider"
    ></div>
  </div>
</div>

<!-- https://ej2.syncfusion.com/showcase/angular/loancalculator/ -->
