// Keenthemes menu component
$menu-dropdown-box-shadow: $dropdown-box-shadow !default;
$menu-dropdown-box-shadow-dark: $dropdown-box-shadow-dark !default;
$menu-dropdown-z-index: 107 !default;
$menu-dropdown-bg-color: $dropdown-bg !default;
$menu-dropdown-bg-color-dark: $dropdown-bg-dark !default;
$menu-dropdown-border-radius: $dropdown-border-radius !default;
$menu-dropdown-animation: true !default;
$menu-dropdown-animation-speed: 0.3s !default;
$menu-dropdown-animation-move-offset: 0.75rem !default;
$menu-accordion-indention: 1rem !default;
$menu-accordion-arrow-transition: transform 0.3s ease !default;
$menu-item-padding-y: 0.15rem !default;
$menu-item-padding-x: 0 !default;
$menu-link-padding-y: 0.65rem !default;
$menu-link-padding-x: 1rem !default;
$menu-link-border-radius: $border-radius !default;
$menu-link-color-hover: $component-hover-color !default;
$menu-link-color-hover-dark: $component-hover-color-dark !default;
$menu-link-color-show: $component-hover-color !default;
$menu-link-color-show-dark: $component-hover-color-dark !default;
$menu-link-color-here: $component-hover-color !default;
$menu-link-color-here-dark: $component-hover-color-dark !default;
$menu-link-color-active: $component-hover-color !default;
$menu-link-color-active-dark: $component-hover-color-dark !default;
$menu-link-bg-color-hover: $component-hover-bg !default;
$menu-link-bg-color-hover-dark: $component-hover-bg-dark !default;
$menu-link-bg-color-show: $component-hover-bg !default;
$menu-link-bg-color-show-dark: $component-hover-bg-dark !default;
$menu-link-bg-color-here: $component-hover-bg !default;
$menu-link-bg-color-here-dark: $component-hover-bg-dark !default;
$menu-link-bg-color-active: $component-hover-bg !default;
$menu-link-bg-color-active-dark: $component-hover-bg-dark !default;
$menu-icon-size: 2rem !default;
$menu-icon-space: 0.5rem !default;
$menu-bullet-size: 1.25rem !default;
$menu-bullet-space: 0.5rem !default;
$menu-badge-space: 0.5rem !default;
$menu-arrow-size: 9px !default;
$menu-arrow-space: 5px !default;
$menu-heading-color: $text-muted !default;
$menu-heading-color-dark: $text-muted-dark !default;
