// Keenthemes rating component
$rating-color-default: $gray-400 !default;
$rating-color-default-dark: $gray-400-dark !default;
$rating-color-active: #ffad0f !default;
$rating-color-active-dark: #ffad0f !default;
