// Keenthemes scrolltop component
$scrolltop-z-index: 105 !default;
$scrolltop-opacity: 0 !default;
$scrolltop-opacity-dark: 0 !default;
$scrolltop-opacity-on: 0.3 !default;
$scrolltop-opacity-on-dark: 0.3 !default;
$scrolltop-opacity-hover: 1 !default;
$scrolltop-opacity-hover-dark: 1 !default;
$scrolltop-bottom: 40px !default;
$scrolltop-bottom-mobile: 30px !default;
$scrolltop-end: 20px !default;
$scrolltop-end-mobile: 15px !default;
$scrolltop-size: 36px !default;
$scrolltop-size-mobile: 30px !default;
$scrolltop-box-shadow: $box-shadow !default;
$scrolltop-box-shadow-dark: $box-shadow-dark !default;
$scrolltop-bg-color: $primary !default;
$scrolltop-bg-color-dark: $primary !default;
$scrolltop-bg-color-hover: $primary !default;
$scrolltop-bg-color-hover-dark: $primary !default;
$scrolltop-icon-color: $primary-inverse !default;
$scrolltop-icon-color-dark: $primary-inverse !default;
$scrolltop-icon-color-hover: $primary-inverse !default;
$scrolltop-icon-color-hover-dark: $primary-inverse !default;
