.card-header {
  min-height: fit-content;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-body {
  padding-right: 15px;
  padding-left: 15px;
}

.table-loading-message {
  box-shadow: none;
}