<!--

<div class="dashboard-v3">

  <div class="column-1">
    <div class="column-1-my-loan-cards">
      <app-my-loan-cards [activeLoans]="userActiveLoans"></app-my-loan-cards>
    </div>

    <div class="h-100 column-1-my-transaction">
      <app-recent-loan-transactions></app-recent-loan-transactions>
    </div>
  </div>

  <div class="column-2">
    <div class="column-2-sub-grid-1">

      <div class="loan-new-statement">
        <app-recent-loan-transactions></app-recent-loan-transactions>
      </div>

      <div class="apply-resume-sub-grid">

        <div class="w-50 apply-new-loan-application">
          <app-apply-new-loan-application></app-apply-new-loan-application>
        </div>

        <div class="w-50 resume-application">
          <app-resume-application></app-resume-application>
        </div>
      </div>
    </div>

    <div class="column-2-sub-grid-2">

      <div class="w-50 loan-from sap">
        <app-active-loan-applications></app-active-loan-applications>
      </div>


      <div class="w-50 recent-activity-of-loan">
        <app-recent-loans></app-recent-loans>
      </div>
    </div>
  </div>
</div>
 -->
