{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "objectPropertyNewline": false,
  "arrayBracketSpacing": true,
  "semi": true,
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "wrapAttributes": "preserve-aligned",
  "arrowFunctionParentheses": "avoid",
  "spaceBeforeFunctionParen": true,
  "spaceWithinParentheses": true,
  "spacedComment": true
}