<div class="card card-stretch h-100">
  <div class="card-header">
    <div class="card-title">
      <h3>Loan Categories</h3>
    </div>

    <div class="card-toolbar">
      <button
        [routerLink]="['/dashboard']"
        class="btn btn-sm border border-primary btn-active-color-primary"
      >
        Back
      </button>
    </div>
  </div>

  <div class="card-body d-flex flex-column position-relative">
    <div class="text-center text-gray-800 fs-2">
      Below you will find the four categories available for funding
    </div>
    <div class="text-center text-gray-600 fs-4 pt-3 mb-5">
      Please Select the category that best suits your needs
    </div>

    <div class="d-flex flex-row flex-center flex-wrap gap-8">
      <app-selection-card
        [isDisabled]="loanApplicationService.loanApplicationProductType === 'mabogoDinku'"
        class="animate__animated animate__fadeInLeft animate__fast"
        [title]="'Individual'"
        [imageUrl]="'./assets/media/ceda-images/individual-min.jpg'"
        (selected)="onLoanTypeSelection(loanApplicationType[0])"
      >
        <span>
          CEDA offers loans to individual entrepreneurs with innovative business ideas or existing
          businesses. These loans serve various purposes such as working capital, equipment
          purchase, and business expansion. Individuals can access financial support to help realize
          their business goals and contribute to economic growth.
        </span>
      </app-selection-card>
      <app-selection-card
        [isDisabled]="loanApplicationService.loanApplicationProductType === 'mabogoDinku'"
        class="animate__animated animate__fadeInLeft animate__fast"
        style="animation-delay: 0.3s"
        [title]="'Companies'"
        [imageUrl]="'./assets/media/ceda-images/company-min.jpg'"
        (selected)="onLoanTypeSelection(loanApplicationType[1])"
      >
        <span>
          CEDA provides financial assistance to companies seeking to expand their operations,
          introduce new products or services, and enhance their competitiveness. This support plays
          a vital role in enabling companies to grow, create employment opportunities, and make
          positive contributions to the local economy.
        </span>
      </app-selection-card>
      <app-selection-card
        [isDisabled]="loanApplicationService.loanApplicationProductType === 'mabogoDinku'"
        class="animate__animated animate__fadeInLeft animate__fast"
        style="animation-delay: 0.6s"
        [title]="'Groups'"
        [imageUrl]="'./assets/media/ceda-images/groups-min.jpg'"
        (selected)="onLoanTypeSelection(loanApplicationType[2])"
      >
        <span>
          CEDA supports groups of individuals collaborating on business ventures. These groups can
          be cooperatives, associations, or partnerships working together for joint business
          initiatives. Financial funding is available to empower group efforts, foster
          entrepreneurship, and drive economic development.
        </span>
      </app-selection-card>
      <app-selection-card
        [isDisabled]="loanApplicationService.loanApplicationProductType === 'letlhabile'"
        class="animate__animated animate__fadeInLeft animate__fast"
        style="animation-delay: 0.9s"
        [title]="'Mabogo-Dinku'"
        [imageUrl]="'./assets/media/ceda-images/mabogo-dinku-min.JPG'"
        (selected)="onLoanTypeSelection(loanApplicationType[3])"
      >
        <span>
          CEDA provides subsidized loans for various micro-entrepreneurs to enable citizen
          participation in enterprise development. Mabogo-Dinku loan offers micro-enterprises an
          opportunity and enables citizen participation in enterprise development. Mabogo-Dinku loan
          provides micro- enterprises with funds for their needs e.g., working capital and small
          asset finance. Mabogo-Dinku offers short term loans from P500.00 to a maximum of P150,
          000.00 per person, payable in 3- 36 months to citizens who are micro-entrepreneurs to
          assist in the growth of their business. The funds can be used towards, Business running
          expenses like stock, rentals etc or Acquisition of micro-business assets like equipment,
          tools etc. This loan is for iindividuals operating legal income generating activities who
          are part of a group of 5-15 members and are willing to co-guarantee one another in a
          group, to meet as a group weekly/fortnightly/monthly.Training & Mentoring is a
          pre-requisite for funding.
        </span>
      </app-selection-card>
    </div>
  </div>
</div>
