// Keenthemes bullet component
$bullet-bg-color: $gray-400 !default;
$bullet-bg-color-dark: $gray-400-dark !default;
$bullet-dot-size: 4px !default;
$bullet-bar-height: 4px !default;
$bullet-bar-width: 8px !default;
$bullet-bar-border-radius: 6px !default;
$bullet-line-height: 1px !default;
$bullet-line-width: 5px !default;
