// Keenthemes feedback component
$feedback-popup-z-index: 1000 !default;
$feedback-popup-box-shadow: $dropdown-box-shadow !default;
$feedback-popup-box-shadow-dark: $dropdown-box-shadow-dark !default;
$feedback-popup-background-color: $body-bg !default;
$feedback-popup-background-color-dark: $body-bg-dark !default;
$feedback-popup-border-radius: $border-radius !default;
$feedback-popup-transition-speed: 0.6s !default;
$feedback-popup-padding: 1rem 1.25rem !default;
