// Keenthemes ribbon component
$ribbon-label-box-shadow: 0px -1px 5px 0px rgba($dark, 0.1) !default;
$ribbon-label-box-shadow-dark: 0px -1px 5px 0px rgba($white, 0.1) !default;
$ribbon-label-bg: $primary !default;
$ribbon-label-bg-dark: $primary !default;
$ribbon-label-border-color: darken($primary, 20%) !default;
$ribbon-label-border-color-dark: darken($primary, 20%) !default;
$ribbon-clip-bg: $dark !default;
$ribbon-clip-bg-dark: $light !default;
