// Keenthemes scrollbar component
$scrollbar-space: 0.5rem !default;
$scrollbar-width: 0.4rem !default;
$scrollbar-height: 0.4rem !default;
$scrollbar-color: $gray-200 !default;
$scrollbar-color-dark: $gray-200-dark !default;
$scrollbar-hover-color: darken($gray-200, 2%) !default;
$scrollbar-hover-color-dark: darken($gray-200-dark, 2%) !default;
