<div class="row gx-10">
  <div class="col-md-12">
    <review-read-only-input
      [label]="'Nearest Branch to Business'"
      [value]="loanServiceCentre.branchId"
    ></review-read-only-input>
  </div>
  <div class="col-md-6">
    <review-read-only-input
      [label]="'Application Amount'"
      [value]="loanServiceCentre.applicationAmount"
    ></review-read-only-input>
  </div>
  <div class="col-md-6">
    <review-read-only-input
      [label]="'Project Description'"
      [value]="loanServiceCentre.product"
    ></review-read-only-input>
  </div>
</div>
