<!--begin::Alert-->
<ng-container>
  <!--begin::Icon-->
  <!-- <span class="svg-icon svg-icon-2hx svg-icon-primary me-3">

    </span> -->

  <span class="svg-icon svg-icon-2hx me-3" ngClass="getIconColor()">
    <span *ngIf="icon === 'default'" [inlineSVG]="'./assets/media/icons/duotune/communication/com007.svg'"></span>
  </span>

  <ng-content select="[alert-icon]"></ng-content>

  <!--end::Icon-->

  <!--begin::Wrapper-->
  <div class="d-flex flex-column">
    <!--begin::Title-->
    <h4 class="mb-1 text-danger">
      {{ title }}
    </h4>
    <!--end::Title-->
    <!--begin::Content-->
    <div class="align-self-stretch">{{ message }}</div>
    <!--end::Content-->
  </div>
  <!--end::Wrapper-->
</ng-container>
<!--end::Alert-->