<div class="row gx-10 mb-5">
  <div class="col-md-6">
    <review-read-only-input
      label="Application Id"
      [value]="loanBasicDetails.applicationId"
    ></review-read-only-input>
  </div>
  <div class="col-md-6">
    <review-read-only-input label="Status" value="loanBasicDetails.status"></review-read-only-input>
  </div>
  <div class="col-md-6">
    <review-read-only-input
      label="Created On"
      [value]="loanBasicDetails.createdOn"
    ></review-read-only-input>
  </div>
  <div class="col-md-6">
    <review-read-only-input
      label="Updated On"
      [value]="loanBasicDetails.updatedOn"
    ></review-read-only-input>
  </div>
  <div class="col-md-6">
    <review-read-only-input
      label="Sector Type"
      [value]="loanBasicDetails.sectorType"
    ></review-read-only-input>
  </div>

  <div class="col-md-6">
    <review-read-only-input
      label="Product Type"
      [value]="loanBasicDetails.productType"
    ></review-read-only-input>
  </div>

  <div class="col-md-6">
    <review-read-only-input
      label="Application Type"
      [value]="loanBasicDetails.loanApplicationType"
    ></review-read-only-input>
  </div>
</div>
