<ol class="disclaimer-container text-start d-flex flex-column gap-3">
  <li>
    This website is for informational purposes only and is not intended to provide specific
    commercial, financial, investment, accounting, tax, or legal advice. It is provided to you
    solely for your own personal, non-commercial use and not for purposes of resale, distribution,
    public display or performance, or any other uses by you in any form or manner whatsoever. Unless
    otherwise indicated on this website, you may display, download, archive, and print a single copy
    of any information on this website, or otherwise distributed from CEDA, for such personal,
    non-commercial use, provided it is done pursuant to the User Conduct and Obligations set forth
    herein.
  </li>

  <li>
    While we have taken care to ensure that the content on this website is accurate, this website
    and the services accessible on or via this website are provided "as is" and your use of and
    reliance on the information on this website and the online services is entirely at your own
    risk. Accordingly, we do not guarantee the accuracy, timeliness, reliability or completeness of
    any of the information contained on, downloaded or accessed from this website.
  </li>

  <li>
    We do not represent or warrant that the website, any tools (such as calculators), software,
    advice, opinion, statement, information, content or online services will be error-free or will
    meet any particular criteria of accuracy, completeness, reliability, performance or quality. You
    acknowledge that any reliance upon any such tools, software, advice, opinion, statement or
    information shall be at your sole risk. We reserve the right, in our sole discretion, to correct
    any errors or omissions in any portion of this website.
  </li>

  <li>
    Information, ideas and opinions expressed on this website should not be regarded as professional
    advice or our official opinion. You are strongly advised to seek professional advice before
    taking any course of action related to them. More specifically, certain information such as
    share price data, interest rates and exchange rates constitute guidelines only and the provision
    of this data may be delayed for a period of time. Accordingly, you are strongly advised to
    consult us or your professional adviser before trading or acting on such information.
  </li>

  <li>
    To the fullest extent permissible by law, we expressly disclaim all (express and implied)
    warranties, including, without limitation, warranties of merchantability, title, and fitness for
    a particular purpose, non-infringement, compatibility, security and accuracy in respect of this
    website and the services accessible on this website. While we take all reasonable precautions to
    prevent this, we do not warrant that the website or any software available for download via the
    website is free of viruses or destructive code.
  </li>

  <li>
    We and our officers, directors, employees, servants, affiliates, shareholders, agents,
    consultants or employees (in whose favour this constitutes a stipulation for the benefit of
    another) shall not be liable for and you hereby indemnify us and our officers, directors,
    employees, servants, affiliates, shareholders, agents, consultants or employees (in whose favour
    this constitutes a stipulation for the benefit of another) against any direct, indirect,
    special, incidental, consequential or punitive damages or loss of any kind whatsoever or
    howsoever caused (whether arising under contract, delict or otherwise and whether the loss was
    actually foreseen or reasonably foreseeable) arising out of your use of this website or the
    online services or the information contained on this website or your inability to use this
    website or the online services.
  </li>

  <li>
    Without derogating from the generality of the above, we will not be liable for

    <ul>
      <li>
        any interruption, malfunction, downtime or other failure of the website or online services,
        our system, databases or any of its components, for reasons beyond our control;
      </li>
      <li>
        any loss or damage with regard to customer data or other data directly or indirectly caused
        by malfunction of our system, third party systems, power failures, unlawful access to or
        theft of data, computer viruses or destructive code on our system or third party systems;
        programming defects;
      </li>
      <li>
        any interruption, malfunction, downtime or other failure of goods or services provided by
        third parties, including, without limitation, third party systems such as the public
        switched telecommunication service providers, internet service providers, electricity
        suppliers, local authorities and certification authorities;
      </li>
      <li>any event over which we have no direct control.</li>
    </ul>
  </li>

  <li>
    CEDA reserves the right, at its sole discretion, to modify, disable access to or discontinue,
    temporarily or permanently, any part or all of this website or any information contained thereon
    without liability or notice to you.
  </li>
</ol>
