<div class="d-flex flex-column flex-root position-relative authentication-wrapper curved-image p-0">
  <div
    class="d-flex flex-column-fluid flex-column flex-root position-relative px-4"
    style="
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--danger-clr) aliceblue;
    "
  >
    <div class="brand-icon--wrapper w-100 align-self-center d-flex justify-content-center mt-5">
      <div #brandLogo id="brandLogo" class="brand-logo h-100px d-flex flex-center mt-5" style="">
        <a href="javascript:void(0)">
          <img
            alt="Logo"
            src="./assets/media/logos/ceda-logo-transparent.png"
            class=""
            style="height: 70px"
          />
        </a>
      </div>
    </div>
    <!-- Main Content -->
    <div class="d-flex flex-column flex-center flex-md-row flex-1 position-relative">
      <!-- -Left Content -->
      <div class="w-100 left-content d-flex flex-column justify-content-center text-danger rounded">
        <div class="login-header--wrapper mb-5 align-self-center text-center">
          <div class="header-clr fs-3x fw-bolder">Forgot Password</div>
          <div class="header-clr fs-2x fw-bold">CEDA Online Services</div>
          <div class="text-gray-700 fs-5 fw-normal">
            Get Your
            <span class="text-custom-danger fw-bold">Business Loan</span>
            in easy steps
          </div>
          <div class="my-4 text-gray-700 fs-5 fw-normal">
            Already have an account?
            <a class="register-link text-primary fw-bold" href="#">Sign In</a>
          </div>
        </div>

        <div class="login-form--wrapper align-self-center w-100">
          <div
            class="mt-1 bg-white px-8 py-6 d-flex align-items-center flex-column justify-content-start rounded-4"
          >
            <!-- <h4 [ngSwitch]="forgotLoginIdStep$ | async">
              <ng-container *ngSwitchCase="0">Find User</ng-container>
              <ng-container *ngSwitchCase="1">Validate User</ng-container>
              <ng-container *ngSwitchCase="2">Your Login ID has been Retrieved</ng-container>
              <ng-container *ngSwitchCase="3">Oops...</ng-container>
            </h4> -->

            <form class="w-100 h-100 d-flex flex-column" [formGroup]="forgotPasswordForm">
              <ng-container [ngSwitch]="forgotPasswordStep">
                <!-- Step 1: Sign Up Form-->
                <ng-container *ngSwitchCase="0">
                  <div [formGroupName]="'findAccountForm'" class="d-flex flex-column">
                    <!-- Login ID -->
                    <div class="form-group mb-1">
                      <label class="form-label required">Login Id</label>
                      <input
                        autocomplete="new-password"
                        class="form-control validate h-auto py-4 px-6 rounded-lg"
                        formControlName="loginId"
                        placeholder="Enter Login Id"
                        type="text"
                      />

                      <div
                        *ngIf="
                          findAccountControl?.loginId?.invalid && findAccountControl?.loginId?.dirty
                        "
                        class="invalid-feedback d-block"
                      >
                        <div *ngIf="findAccountControl?.loginId?.errors?.required">
                          Login Id is required
                        </div>

                        <div *ngIf="findAccountControl?.loginId?.errors?.minlength">
                          Login Id must be at least 4 digit
                        </div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-end mb-3">
                      <a
                        class="align-self-end register-link fw-normal d-block text-end fw-bold link-danger fs-6 text-decoration-underline"
                        [routerLink]="['/auth/forgot-login-id']"
                      >
                        Forgot Login Id?
                      </a>
                    </div>

                    <!-- * Action Buttons -->

                    <div
                      class="form-group"
                      [ngStyle]="{ cursor: findAccountForm.invalid ? 'not-allowed' : 'pointer' }"
                    >
                      <button
                        (click)="findAccountFormSubmitted()"
                        [disabled]="findAccountForm.invalid || (loader.loading$ | async) === true"
                        class="btn btn-primary w-100 h-40px fs-6 fw-bolder"
                        [ngClass]="{
                          'btn-primary': findAccountForm.valid,
                          'btn-light-secondary': findAccountForm.invalid
                        }"
                        type="button"
                      >
                        <span *ngIf="(loader.loading$ | async) === false">
                          <span class="ms-2">Proceed</span>
                        </span>

                        <span *ngIf="(loader.loading$ | async) === true">
                          <span
                            aria-hidden="true"
                            class="spinner-border spinner-border-sm"
                            role="status"
                          ></span>
                          <span class="ms-2">Loading...</span>
                        </span>
                      </button>

                      <div class="title-md text-end mt-2"></div>
                    </div>
                  </div>
                </ng-container>

                <!--          Step 2: Two Factor Authentication-->
                <ng-container *ngSwitchCase="1">
                  <div [formGroupName]="'verifyOtpForm'" class="d-flex flex-column">
                    <div class="separator separator-2 separator-dashed fs-3 mb-2"></div>
                    <div class="fw-bold text-center fs-2 ls-2 my-2">OTP</div>

                    <app-otp-input formControlName="otpDigits"></app-otp-input>
                    <div class="text-end form-group">
                      <button
                        [disabled]="(timeLeft$ | async) !== 0"
                        (click)="resetTimer()"
                        class="text-primary fw-bold cursor-pointer btn btn-outline-light"
                      >
                        Re-Send OTP
                      </button>
                      <span class="text-muted fw-bold">
                        ( {{ (timeLeft$ | async) || '60' }} sec left )
                      </span>
                    </div>

                    <!-- Action Button -->
                    <div
                      class="form-group"
                      [ngStyle]="{ cursor: verifyOtpForm.invalid ? 'not-allowed' : 'cursor' }"
                    >
                      <button
                        (click)="verifyAccountFormSubmitted()"
                        [disabled]="verifyOtpForm.invalid || (loader.loading$ | async) === true"
                        class="btn btn-primary w-100 h-40px fs-6 fw-bolder"
                        [ngStyle]="{
                          'btn-primary': verifyOtpForm.valid,
                          'btn-light-secondary': verifyOtpForm.invalid
                        }"
                        type="button"
                      >
                        <span *ngIf="(loader.loading$ | async) === false">
                          <span class="ms-2">Verify</span>
                        </span>

                        <span *ngIf="(loader.loading$ | async) === true">
                          <span
                            aria-hidden="true"
                            class="spinner-border spinner-border-sm"
                            role="status"
                          ></span>
                          <span class="ms-2">Loading...</span>
                        </span>
                      </button>
                    </div>
                  </div>
                </ng-container>

                <!--          Step 3: Create Password-->
                <ng-container *ngSwitchCase="2">
                  <!-- <span>Create Password</span> -->
                  <!-- ********* Set Password Form ********* -->
                  <div [formGroupName]="'resetPasswordForm'" class="d-flex flex-column">
                    <div class="form-group">
                      <app-password-input
                        placeholder="Create Password"
                        formControlName="password"
                      ></app-password-input>

                      <div
                        *ngIf="resetPasswordForm.get('password')?.dirty"
                        class="invalid-feedback d-block text-wrap mw-325px"
                      >
                        <div *ngIf="resetPasswordForm.get('password')?.errors?.required">
                          Password is required
                        </div>

                        <div
                          *ngIf="
                            !resetPasswordForm.get('password')?.errors?.required &&
                            resetPasswordForm.get('password')?.errors?.password
                          "
                        >
                          {{ resetPasswordForm.get('password')?.errors?.password }}
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <app-password-input
                        placeholder="Confirm Passsword"
                        formControlName="confirmPassword"
                      ></app-password-input>

                      <div
                        *ngIf="resetPasswordForm.get('confirmPassword')?.dirty"
                        class="invalid-feedback d-block text-wrap mw-325px"
                      >
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.required">
                          Confirm Password is required
                        </div>

                        <div
                          *ngIf="
                            !resetPasswordForm.get('confirmPassword')?.errors?.required &&
                            resetPasswordForm.get('confirmPassword')?.errors?.password
                          "
                        >
                          {{ 'Invalid Password' }}
                        </div>
                      </div>

                      <div
                        *ngIf="
                          resetPasswordForm.get('confirmPassword')?.dirty &&
                          resetPasswordForm.get('confirmPassword')?.valid &&
                          resetPasswordForm.errors?.mustMatch
                        "
                        class="invalid-feedback d-block text-wrap"
                      >
                        Password and Confirm Password do not match
                      </div>

                      <div
                        *ngIf="
                          resetPasswordForm.get('confirmPassword')?.dirty &&
                          resetPasswordForm.get('confirmPassword')?.valid &&
                          !resetPasswordForm.errors?.mustMatch
                        "
                        class="valid-feedback d-block text-wrap"
                      >
                        Password and Confirm Password matched
                      </div>
                    </div>

                    <div
                      class="form-group"
                      [ngStyle]="{ cursor: resetPasswordForm.invalid ? 'not-allowed' : 'cursor' }"
                    >
                      <button
                        [disabled]="forgotPasswordForm.invalid"
                        (click)="resetPasswordFormSubmitted($event)"
                        class="btn btn-primary w-100 h-40px fs-6 fw-bolder"
                        type="button"
                        [ngClass]="{
                          'btn-primary': resetPasswordForm.valid,
                          'btn-light-secondary': resetPasswordForm.invalid
                        }"
                      >
                        <span *ngIf="true">
                          <span class="ms-2">Change Password</span>
                        </span>
                        <span *ngIf="false">
                          <span
                            aria-hidden="true"
                            class="spinner-border spinner-border-sm"
                            role="status"
                          ></span>
                          <span class="ms-2">Loading...</span>
                        </span>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </form>
          </div>
        </div>
      </div>

      <!-- - Right Content -->
      <div
        class="d-flex flex-column align-items-center align-items-lg-start w-100 h-100 justify-content-center flex-row-fluid"
      >
        <div
          class="position-fixed d-none d-md-flex"
          style="
            top: calc(var(--horizontal-line-2-position-from-top));
            left: 70%;
            color: white;
            backdrop-filter: blur(2px);
          "
        >
          <div style="color: #fff" class="custom-font d-inline-block lh-0">
            #Kaekapakae
            <span
              [inlineSVG]="'/assets/media/icons/duotune/arrows/arr072.svg'"
              class="svg-icon svg-icon-2x d-inline-flex position-absolute"
              style="color: #d5d5d5"
            ></span>
          </div>
        </div>
      </div>
    </div>

    <!--- Footer -->
    <div
      style="z-index: 1000"
      class="authentication-footer d-flex flex-stack flex-row flex-wrap px-10 py-4"
    >
      <div class="d-flex flex-row gap-8 flex-center flex-wrap-reverse">
        <a
          href="https://www.facebook.com/cedaBW"
          target="_blank"
          class="nav-link text-hover-primary d-flex"
        >
          <!-- <i class="bi bi-facebook fs-4"></i> -->
          <span inlineSVG="./assets/media/icons/facebook.svg" class="svg-icon svg-icon-3"></span>
        </a>
        <a
          href="https://www.instagram.com/ceda_bw/"
          target="_blank"
          class="nav-link text-hover-primary d-flex"
        >
          <!-- <i class="bi bi-instagram fs-4"></i> -->
          <span inlineSVG="./assets/media/icons/instagram.svg" class="svg-icon svg-icon-3"></span>
        </a>
        <a
          href="https://twitter.com/CEDA_BW"
          target="_blank"
          class="nav-link text-hover-primary d-flex"
        >
          <!-- <i class="bi bi-twitter fs-4"></i>
           -->
          <span inlineSVG="./assets/media/icons/twitter-x.svg" class="svg-icon svg-icon-1"></span>
        </a>

        <!-- <div class="">
          <img
            src="https://www.positivessl.com/images/seals/positivessl_trust_seal_md_167x42.png"
          />
        </div> -->
      </div>

      <div class="d-flex gap-3">
        <span style="" class="fs-5 fw-bold text-white">Powered By:</span>
        <a href="https://www.manamtech.com/" target="_blank" class="fs-6 fw-bold text-white">
          Manam Infotech Pvt. Ltd.
        </a>
      </div>

      <!--begin::Carousel Indicators-->
      <div *ngIf="false" class="carousel carousel-custom slide">
        <ol
          class="p-0 m-0 carousel-indicators carousel-indicators-dots carousel-indicators-active-primary"
          style="--kt-carousel-custom-bullet-indicator-default-bg-color: #ff0000"
        >
          <li
            data-bs-target="#kt_carousel_1_carousel"
            data-bs-slide-to="0"
            class="ms-1 active"
          ></li>
          <li data-bs-target="#kt_carousel_1_carousel" data-bs-slide-to="1" class="ms-1"></li>
          <li data-bs-target="#kt_carousel_1_carousel" data-bs-slide-to="2" class="ms-1"></li>
        </ol>
      </div>

      <!--end::Carousel Indicators-->
    </div>
  </div>
</div>

<!-- * Horizontal Lines -->
<ng-container>
  <div class="horizontal-line line1"></div>
  <div class="horizontal-line line2"></div>
  <div class="horizontal-line line3"></div>
  <div class="vertical-line"></div>
</ng-container>
