// Carousel
$carousel-custom-indicator-transition-speed: 0.3s !default;
$carousel-custom-indicator-default-bg-color: $gray-200 !default;
$carousel-custom-indicator-default-bg-color-dark: $gray-200-dark !default;
$carousel-custom-indicator-active-bg-color: $gray-400 !default;
$carousel-custom-indicator-active-bg-color-dark: $gray-400-dark !default;

$carousel-custom-dots-indicator-default-size: 9px !default;
$carousel-custom-dots-indicator-active-size: 13px !default;

$carousel-custom-bullet-indicator-default-size: 6px !default;
$carousel-custom-bullet-indicator-active-width: 16px !default;
$carousel-custom-bullet-indicator-default-bg-color: $gray-600 !default;
$carousel-custom-bullet-indicator-default-bg-color-dark: $gray-400-dark !default;
$carousel-custom-bullet-indicator-active-bg-color: $gray-600 !default;
$carousel-custom-bullet-indicator-active-bg-color-dark: $gray-600-dark !default;
