// Components
//
// Keenthemes hover states
$component-hover-color: $primary !default;
$component-hover-color-dark: $primary !default;
$component-hover-bg: #f4f6fa !default;
$component-hover-bg-dark: $gray-200-dark !default;

// Keenthemes active states
$component-active-color: $primary-inverse !default;
$component-active-color-dark: $primary-inverse !default;
$component-active-bg: $primary !default;
$component-active-bg-dark: $primary !default;

// Keenthemes checked states
$component-checked-color: $primary-inverse !default;
$component-checked-color-dark: $primary-inverse !default;
$component-checked-bg: $primary !default;
$component-checked-bg-dark: $primary !default;
