// Popovers
$popover-bg: $body-bg !default;
$popover-bg-dark: $gray-200-dark !default;
$popover-font-size: $font-size-base !default;
$popover-border-color: $popover-bg !default;
$popover-border-color-dark: $popover-bg-dark !default;
$popover-border-radius: $border-radius !default;
$popover-box-shadow: $dropdown-box-shadow !default;
$popover-box-shadow-dark: $dropdown-box-shadow-dark !default;
$popover-header-bg: $popover-bg !default;
$popover-header-bg-dark: $popover-bg-dark !default;
$popover-header-color: $gray-800 !default;
$popover-header-color-dark: $gray-800-dark !default;
$popover-header-font-weight: 500 !default;
$popover-header-font-size: 1rem !default;
$popover-header-padding-y: 1rem !default;
$popover-header-padding-x: 1.25rem !default;
$popover-header-border-color: $gray-200 !default;
$popover-header-border-color-dark: $gray-300-dark !default;
$popover-body-color: $gray-800 !default;
$popover-body-color-dark: $gray-800-dark !default;
$popover-body-padding-y: 1.25rem !default;
$popover-body-padding-x: 1.25rem !default;

$popover-dissmis-btn-height: 1.5rem !default;
$popover-dissmis-btn-top: 0.85rem !default;
$popover-dissmis-btn-end: 0.85rem !default;
