// Progress bars
$progress-height: 1rem !default;
$progress-font-size: $font-size-base * 0.75 !default;
$progress-bg: $gray-100 !default;
$progress-bg-dark: $gray-100-dark !default;
$progress-border-radius: 6px !default;
$progress-box-shadow: none !default;
$progress-box-shadow-dark: none !default;
