// Toasts
$toast-color: null !default;
$toast-color-dark: null !default;
$toast-background-color: rgba($white, 0.85) !default;
$toast-background-color-dark: rgba($black, 0.85) !default;
$toast-box-shadow: $box-shadow !default;
$toast-box-shadow-dark: $box-shadow-dark !default;
$toast-header-color: $gray-600 !default;
$toast-header-color-dark: $gray-600-dark !default;
$toast-header-background-color: rgba($white, 0.85) !default;
$toast-header-background-color-dark: rgba($black, 0.85) !default;
$toast-header-border-color: rgba($black, 0.05) !default;
$toast-header-border-color-dark: rgba($white, 0.05) !default;
