// Tooltips
$tooltip-font-size      : $font-size-sm !default;
$tooltip-max-width      : 200px !default;
$tooltip-color          : $gray-800 !default;
$tooltip-color-dark     : $gray-800-dark !default;
$tooltip-bg             : $body-bg !default;
$tooltip-bg-dark        : $gray-200-dark !default;
$tooltip-border-radius  : $btn-border-radius !default;
$tooltip-opacity        : 1 !default;
$tooltip-opacity-dark   : 1 !default;
$tooltip-box-shadow     : $dropdown-box-shadow !default;
$tooltip-box-shadow-dark: $dropdown-box-shadow-dark !default;
$tooltip-padding-y      : .75rem !default;
$tooltip-padding-x      : 1rem !default;
$tooltip-margin         : 0 !default;