// Define common padding and border radius sizes and more.
$border-width: 1px !default;
$border-color: $gray-200 !default;
$border-color-dark: $gray-200-dark !default;
$border-dashed-color: $gray-300 !default;
$border-dashed-color-dark: $gray-300-dark !default;

$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;

// Border Radiues
$border-radius: 0.475rem !default;
$border-radius-sm: 0.425rem !default;
$border-radius-lg: 0.625rem !default;
$border-radius-xl: 1rem !default;
$border-radius-2xl: 2rem !default;
$border-radius-pill: 50rem !default;

$border-radius-list: (
  0: 0,
  1: $border-radius-sm,
  2: $border-radius,
  3: $border-radius-lg,
  4: $border-radius-xl,
  5: $border-radius-2xl,
  pill: $border-radius-pill,
) !default;
