// Breadcrumbs
$breadcrumb-bg: null !default;
$breadcrumb-bg-dark: null !default;
$breadcrumb-divider-color: $gray-600 !default;
$breadcrumb-divider-color-dark: $gray-600-dark !default;
$breadcrumb-active-color: $primary !default;
$breadcrumb-active-color-dark: $primary !default;
$breadcrumb-item-padding-x: 0.5rem !default;
