// Card
$card-bg: $body-bg !default;
$card-bg-dark: $body-bg-dark !default;
$card-box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02) !default;
$card-box-shadow-dark: none !default;
$card-border-color: $border-color !default;
$card-border-color-dark: $border-color-dark !default;
$card-border-style: solid !default;
$card-border-dashed-color: $border-dashed-color !default;
$card-border-dashed-color-dark: $border-dashed-color-dark !default;
$card-color: null !default;
$card-color-dark: null !default;
$card-cap-bg: transparent !default;
$card-cap-bg-dark: transparent !default;
$card-py: 2rem !default;
$card-px: 2.25rem !default;
$card-border-radius: $border-radius-lg !default;
$card-header-py: 0.5rem !default;
$card-header-height: 70px !default;
$card-border-enabled: false !default;
