// Code
$code-bg: #f1f3f8 !default;
$code-bg-dark: $gray-200-dark !default;
$code-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08) !default;
$code-box-shadow-dark: 0px 3px 9px rgba(0, 0, 0, 0.08) !default;
$code-padding: 0.1rem 0.4rem !default;
$code-margin: 0 0.5rem !default;
$code-font-weight: 400 !default;
$code-border-radius: 0.3rem !default;
$code-color: #b93993 !default;
$code-color-dark: #b93993 !default;
$code-space: 0.25rem !default;
