// Image thumbnails
$thumbnail-bg: $body-bg !default;
$thumbnail-bg-dark: $body-bg-dark !default;
$thumbnail-border-color: $border-color !default;
$thumbnail-border-color-dark: $border-color-dark !default;
$thumbnail-box-shadow: $box-shadow-sm !default;
$thumbnail-box-shadow-dark: $box-shadow-sm-dark !default;

// Figures
$figure-caption-color: $gray-600 !default;
$figure-caption-color-dark: $gray-600-dark !default;
