// Links
//
// Style anchor elements.
$link-color: $primary !default;
$link-color-dark: $primary !default;
$link-decoration: none !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-color-dark: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: none !default;
