<!-- * Brand Logo && aside toggle -->
<div class="aside-logo py-8" id="kt_aside_logo">
  <!-- begin::Logo -->
  <a routerLink="/dashboard" class="d-flex align-items-center">
    <img
      alt="Logo"
      height="60"
      style="aspect-ratio: 1"
      priority
      src="./assets/media/misc/manam-mini-logo.svg"
      class="h-60px logo"
    />
  </a>

  <!-- begin::Aside toggle -->
  <ng-container *ngIf="asideMinimize">
    <div
      id="kt_aside_toggle"
      class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle"
      data-kt-toggle="true"
      data-kt-toggle-state="active"
      data-kt-toggle-target="body"
      data-kt-toggle-name="aside-minimize"
    ></div>
  </ng-container>
</div>

<!-- begin::Aside menu -->

<div
  #ktAsideScroll
  id="kt_aside_nav"
  class="aside-nav d-flex flex-column flex-column-fluid align-lg-center w-100 pt-5 pt-lg-0"
>
  <app-aside-menu
    id="kt_aside_menu"
    data-kt-menu="true"
    class="aside-menu flex-column-fluid"
  ></app-aside-menu>
</div>
<!-- end::Aside menu -->

<!-- begin::Footer -->
<!-- <div class="flex-column-auto rounded-bottom-0 mx-0" id="kt_aside_footer">
  <app-aside-profile></app-aside-profile>
</div> -->
<!-- end::Footer -->
