<div class="dropzone dropzone-multi" id="kt_dropzone_4">
  <!-- * Main Toolbar -->
  <div
    class="d-flex flex-wrap justify-content-start align-items-start gap-3 mb-lg-0 mb-2 pb-2"
    [ngStyle]="{
      'border-bottom': allFiles.length > 0 ? '2px solid gray' : 'none'
    }"
  >
    <!-- * Attach File button -->
    <button
      [disabled]="_disabled"
      type="button"
      class="dropzone-select btn btn-light-primary btn-text-dark btn-text-hover-primary font-weight-bold btn-sm dz-clickable text-nowrap"
      (click)="fileBrowse.click()"
    >
      Attach files
    </button>

    <!-- * Upload All Button : Currently Hidden -->
    <button
      type="button"
      class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm"
      [disabled]="!allFiles.length || uploading || _disabled"
      [ngStyle]="{ display: allFiles.length ? 'inline-block' : 'none' }"
      (click)="uploadAllFiles()"
    >
      Upload All
    </button>

    <!-- *Remove All Button: Currently Hidden -->
    <button
      type="button"
      class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm"
      [disabled]="!allFiles.length || uploading || _disabled"
      [ngStyle]="{ display: allFiles.length ? 'inline-block' : 'none' }"
      (click)="removeAllFiles()"
    >
      Remove All
    </button>
  </div>

  <!-- *Drop Zone Items -->
  <div class="dropzone-items">
    <!-- * Uploaded Fiels -->
    <div
      *ngFor="let file of uploadedFiles; let i = index"
      class="dropzone-item flex-wrap overflow-scroll"
    >
      <div class="dropzone-file d-flex flex-column">
        <div *ngIf="documentData.formControlName === 'addDocs'" class="text-start addDocsCount">
          Addition Document Number
        </div>
        <div class="dropzone-filename d-flex gap-2 flex-wrap" title="{{ file.docName }}">
          <span>{{ file.docName }}</span>
          <span></span>
          <!-- <strong
            >(<span>{{ formatSize(file?.docFile?.size!) }}</span
            >)</strong -->
          <!-- > -->
        </div>
      </div>

      <div class="dropzone-progress me-3 w-100 mw-125px">
        <div class="progress">
          <div
            class="progress-bar bg-primary"
            role="progressbar"
            [style.width]="fileProgressMap.get(file?.docName!) + '%'"
          ></div>
        </div>
      </div>

      <div
        class="dropzone-toolbar ms-auto d-flex flex-row justify-content-center gap-3 align-items-center"
      >
        <!-- ! if file uploaded or form disable, hide upload button -->
        <span
          *ngIf="fileProgressMap.get(file.docName!) !== 100 && !_disabled"
          class=""
          (click)="uploadFile(i)"
        >
          <i class="fa fa-play text-hover-primary fs-5"></i>
        </span>
        <span *ngIf="fileProgressMap.get(file.docName!) === 100 || _disabled" class="">
          <i class="fa fa-check text-success fs-5"></i>
        </span>

        <span *ngIf="true" class="" (click)="viewUploadedFiles(i)">
          <i class="fa fa-eye fs-5 text-hover-primary"></i>
        </span>

        <span *ngIf="!_disabled" class="" (click)="removeUploadedFiles(i)">
          <i class="fa fa-multiply text-hover-danger fs-5"></i>
        </span>
      </div>
    </div>

    <!-- * Files need to upload yet -->
    <div
      *ngFor="let file of filesToUpload; let i = index"
      class="dropzone-item flex-wrap overflow-scroll"
    >
      <div class="dropzone-file d-flex flex-column">
        <div *ngIf="documentData.formControlName === 'addDocs'" class="text-start addDocsCount">
          Addition Document Number
        </div>
        <div class="dropzone-filename d-flex gap-2 flex-wrap" title="{{ file.name }}">
          <span>{{ file.name }}</span>
          <span></span>
          <strong>
            (
            <span>{{ formatSize(file?.size!) }}</span>
            )
          </strong>
        </div>
      </div>

      <div class="dropzone-progress me-3 w-100 mw-125px">
        <div class="progress">
          <div
            class="progress-bar bg-primary"
            role="progressbar"
            [style.width]="fileProgressMap.get(file.name) + '%'"
          ></div>
        </div>
      </div>

      <div
        class="dropzone-toolbar ms-auto d-flex flex-row justify-content-center gap-3 align-items-center"
      >
        <!-- ! if file uploaded or form disable, hide upload button -->
        <span
          *ngIf="fileProgressMap.get(file.name) !== 100 && !_disabled"
          class=""
          (click)="uploadFile(i)"
        >
          <i class="fa fa-play text-hover-primary fs-5"></i>
        </span>
        <span *ngIf="fileProgressMap.get(file.name) === 100 || _disabled" class="">
          <i class="fa fa-check text-success fs-5"></i>
        </span>

        <span *ngIf="true" class="" (click)="viewNewFiles(i)">
          <i class="fa fa-eye fs-5 text-hover-primary"></i>
        </span>

        <span *ngIf="!_disabled" class="" (click)="removeNewFiles(i)">
          <i class="fa fa-multiply text-hover-danger fs-5"></i>
        </span>
      </div>
    </div>
  </div>

  <!-- TODO:  Additional Document Functionality -->
  <div *ngIf="documentData.formControlName === 'addDocs'" class="text-start form-text text-muted">
    To add more additional document click
    <em>attach files</em>
  </div>
</div>
<div class="form-text text-muted">
  Maximum number of documents: {{ maxFiles }}. Maximum document size: {{ formatSize(maxFileSize) }}.
</div>
<!-- <div class="form-text text-muted">
  Uploaded documents: {{ uploadedDocumentsCount }}. Remaining documents:
  {{ maxFiles - uploadedDocumentsCount }}.
</div> -->
<input
  #fileBrowse
  type="file"
  [accept]="accept"
  multiple
  (change)="fileSelected($event)"
  style="display: none"
/>

<!-- Path: src\app\features\loan-application-management\document-detail-form\file-uploader\file-uploader.component.ts -->
