<div class="login-page--wrapper position-relative w-100 h-100 bg-gray-700">
  <div class="image-wrapper-1 position-absolute top-0 w-100 h-100 z-index-0" style="left: 50px">
    <img
      src="./assets/media/ceda-images/login-page-bg-min.jpg"
      alt="login-page-bg"
      class="w-100 h-100"
    />
  </div>

  <div style="width: 35%" class="image-wrapper-2 position-absolute top-0 left-0 h-100 z-index-1">
    <img
      src="./assets/media/ceda-images/kae_kapa_kae_transparent-2.png"
      alt="login-page-bg"
      class="w-100 h-100"
    />
  </div>
</div>
