<div class="card">
  <div class="card-header">
    <h3 class="card-title">Widget Examples</h3>

    <div class="card-toolbar">
      <div class="navbar navbar-light navbar-expand-lg navbar-custom navbar-shadow">
        <div class="container-xxl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarExamples"
            aria-controls="navbarExamples"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarExamples">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#lists">Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#status-table">Status Table</a>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#lists">Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#status-table">Status Table</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#lists">Lists</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
