<div class="authentication-page overflow-scroll bg-body">
  <div class="authentication-content">
    <router-outlet></router-outlet>
  </div>

  <div class="authentication-footer">
    <div class="d-flex flex-center flex-column-auto p-1">
      <div class="d-flex align-items-center fw-normal fs-7">
        <a class="text-gray-600 text-hover-primary px-2 cursor-pointer">About</a>
        <a class="text-gray-600 text-hover-primary px-2 cursor-pointer">Contact</a>
        <!-- <a class="text-muted text-hover-primary px-2 cursor-pointer">Contact Us</a> -->
      </div>
    </div>
  </div>
</div>
