<div class="input-group">
  <input
    #password
    (focus)="passwordInputFocused($event)"
    class="form-control"
    [formControl]="passwordFormControl"
    placeholder="{{ placeholder }}"
    autocomplete="new-password"
    type="password"
  />

  <div
    #eyeIcon
    class="input-group-text cursor-pointer"
    (click)="togglePasswordVisibility(password)"
  >
    <!-- Close Eye Icon -->
    <span
      class="svg-icon svg-icon-2 text-muted text-hover-primary"
      [inlineSVG]="'./assets/media/icons/eye-closed.svg'"
      *ngIf="!isPasswordVisible"
    ></span>

    <!-- Open Eye Icon -->
    <span
      class="svg-icon svg-icon-2 text-primary"
      [inlineSVG]="'./assets/media/icons/eye-open-2.svg'"
      *ngIf="isPasswordVisible"
    ></span>
  </div>
</div>
