@import "src/assets/sass/components/_variables.custom";
$input-bg: #ffe5d9;
$input-color: #852b00;


// form group and form control
.form-group {
  margin-bottom: 10px;
}

.form-control {

  background-color: #{$input-bg};
  color: #{$input-color};
  border: none;

  &::placeholder {
    color: #{$input-color};
  }

  &:focus {
    color: #{darken($input-color, 10%)};
    background-color: #{darken($input-bg, 10%)};
    box-shadow: var(--kt-box-shadow-xs) !important;

    &+.input-group-text {
      background-color: #{darken($input-bg, 10%)};
      color: #{darken($input-color, 10%)};
      box-shadow: var(--kt-box-shadow-xs) !important;
      border: none;
    }
  }
}

.input-group-text {
  background-color: #{$input-bg};
  color: #{$input-color};
  border: none;
}

.form-check-input {
  background-color: #{$input-bg};
  // border: 0.5px solid #{$input-color};
  border: none;
  outline: none;
  width: 25px;
  box-shadow: var(--kt-box-shadow-sm);

  &:checked {
    background-color: #{$input-color};
    border: #{darken($input-color, 10%)};
  }
}