<div [attr.hideBackgroundImage]="showVirtualKeyboard" class="login-page">
  <!-- Left Column -->
  <div class="left-column d-flex flex-column">
    <div
      class="main-logo"
      [ngStyle]="{
        top: showVirtualKeyboard ? '-30%' : '0'
      }"
    >
      <a href="#">
        <img
          alt=""
          class="h-70px bgi-attachment-fixed bgi-no-repeat"
          src="./assets/media/logos/ceda-logo-transparent.png"
        />
      </a>
    </div>

    <div class="heading d-flex flex-column">
      <span class="fs-3hx fw-bolder ls-2 text-dark-50 opacity-95">
        Sign in to
      </span>

      <span class="fs-2hx fw-bold text-gray-800 mt-2"> Online Services </span>
    </div>

    <div
      class="subheading"
      [ngStyle]="{
        opacity: showVirtualKeyboard ? '0' : '1',
        transform: showVirtualKeyboard ? 'translateY(-20px)' : 'translateY(0)',
        'margin-top': showVirtualKeyboard ? '0' : '20px',
        'margin-bottom': showVirtualKeyboard ? '0' : '0',
        height: showVirtualKeyboard ? '0' : 'auto',
        'box-shadow': !showVirtualKeyboard
          ? 'none'
          : '0 0 20px 0 rgba(0, 0, 0, 0.1)',
        'backdrop-filter': !showVirtualKeyboard ? 'none' : 'blur(10px)',
        transition: 'all 0.5s ease-in-out'
      }"
    >
      <div class="text-nowrap mb-3 fs-5">
        <span> Get your </span>
        <span class="animation-text text-primary fw-bold">
          <span
            class="animation-item rounded-top-0 rounded-bottom-0"
            style="cursor: text"
          >
            <span class="">Business Loan</span>
          </span>
          <span *ngIf="false" class="animation-item">
            <span class="text-secondary">Personal Loan</span>
          </span>
          <span *ngIf="false" class="animation-item">
            <span class="text-success">Home Loan</span>
          </span>
          <span *ngIf="false" class="animation-item">
            <span class="text-info">Car Loan</span>
          </span>
          <span *ngIf="false" class="animation-item">
            <span class="text-danger">Education Loan</span>
          </span>
        </span>
        <span> in easy steps </span>
      </div>

      <div class="text-muted fw-normal fs-5">
        Sign in to start your application now, or
        <a
          href="javascript:void(0)"
          [routerLink]="['/auth/registration']"
          class="register-link text-primary fw-bold"
          >Register</a
        >
      </div>
    </div>

    <app-virtual-keyboard
      (keyboardPressKey)="onVirtualKeyboardKeyClicked($event)"
      [showVirtualKeyboard]="showVirtualKeyboard"
      [value]="setVirtualKeyboardValue()"
      class="virtual-keyboard mt-4"
    >
    </app-virtual-keyboard>
  </div>

  <!-- Right Column -->
  <div
    class="right-column d-flex flex-column"
    [ngClass]="{
      'virtual-keyboard--open': showVirtualKeyboard
    }"
  >
    <div class="login-form-wrapper">
      <div class="text-center mt-5">
        <span class="fs-2x fw-bolder text-dark-50 opacity-90 ls-3">
          Sign In
        </span>
      </div>

      <app-alert
        *ngIf="hasError"
        [title]="''"
        [message]="'Please check your username and password'"
        [icon]="'custom'"
        class="mt-5 mx-7"
        [type]="'danger'"
        [dismissible]="false"
      >
        <div alert-icon>
          <span class="svg-icon svg-icon-2hx svg-icon-danger me-4">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.3"
                d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z"
                fill="currentColor"
              ></path>
              <path
                d="M10.5606 11.3042L9.57283 10.3018C9.28174 10.0065 8.80522 10.0065 8.51412 10.3018C8.22897 10.5912 8.22897 11.0559 8.51412 11.3452L10.4182 13.2773C10.8099 13.6747 11.451 13.6747 11.8427 13.2773L15.4859 9.58051C15.771 9.29117 15.771 8.82648 15.4859 8.53714C15.1948 8.24176 14.7183 8.24176 14.4272 8.53714L11.7002 11.3042C11.3869 11.6221 10.874 11.6221 10.5606 11.3042Z"
                fill="currentColor"
              ></path>
            </svg>
          </span>
        </div>
      </app-alert>

      <div
        *ngIf="!hasError"
        class="align-self-stretch mt-5 d-flex flex-row flex-center"
      >
        <span class="fw-bold fs-6 text-muted"
          >Please enter your username and password</span
        >
      </div>

      <!-- Login Form Begin -->

      <form
        (ngSubmit)="loginFormSubmitted()"
        [formGroup]="loginForm"
        class="login-form d-flex flex-column px-7 pt-5 pb-4"
      >
        <!-- Username -->
        <div class="form-group mb-4 position-relative">
          <input
            (focus)="onLoginFormInputFocus('username', $event)"
            autocomplete="new-password"
            class="form-control validate"
            formControlName="username"
            placeholder="Login ID or Mobile Number"
            type="text"
          />

          <div
            *ngIf="
              fc.username.invalid && (fc.username.dirty || fc.username.touched)
            "
            class="fv-plugins-message-container invalid-feedback"
          >
            <div *ngIf="fc.username.errors?.required">
              username or mobile number is required
            </div>

            <div *ngIf="fc.username.errors?.minlength">
              username or mobile number must be at least 3 characters
            </div>

            <div *ngIf="fc.username.errors?.maxlength">
              username or mobile number must be at most 50 characters
            </div>

            <div *ngIf="fc.username.errors?.pattern">
              username or mobile number must be a valid email address
            </div>
          </div>

          <div
            *ngIf="
              fc.username.valid && (fc.username.dirty || fc.username.touched)
            "
            class="fv-plugins-message-container valid-feedback"
          ></div>
        </div>

        <!-- Password -->
        <div class="form-group mb-4 d-flex flex-column">
          <div class="input-group">
            <input
              #password
              (focus)="onLoginFormInputFocus('password', $event)"
              class="form-control validate"
              formControlName="password"
              placeholder="Password"
              autocomplete="new-password"
              type="password"
            />

            <div
              #eyeIcon
              class="input-group-text cursor-pointer"
              (click)="togglePasswordVisibility(password)"
            >
              <!-- Close Eye Icon -->
              <span
                class="svg-icon svg-icon-2 text-muted text-hover-primary"
                [inlineSVG]="'./assets/media/icons/eye-closed.svg'"
                *ngIf="!isPasswordVisible"
              >
              </span>

              <!-- Open Eye Icon -->
              <span
                class="svg-icon svg-icon-2 text-primary"
                [inlineSVG]="'./assets/media/icons/eye-open-2.svg'"
                *ngIf="isPasswordVisible"
              >
              </span>
            </div>
          </div>

          <div
            *ngIf="
              fc.password.invalid && (fc.password.dirty || fc.password.touched)
            "
            class="fv-plugins-message-container invalid-feedback"
          >
            <div *ngIf="fc.password.errors?.required">password is required</div>
            <div *ngIf="fc.password.errors?.minlength">
              password must be at least 3 characters
            </div>
            <div *ngIf="fc.password.errors?.maxlength">
              password must be at most 50 characters
            </div>
          </div>
          <span class="forgot-password align-self-end mt-1 me-2">
            <a
              [routerLink]="['/auth/forgot-password']"
              class="text-info fw-bold fs-6"
              href="javascript:void(0)"
              >Forgot Password ?</a
            >
          </span>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 mb-2">
            <app-google-captcha
              formControlName="recaptcha"
            ></app-google-captcha>
          </div>
        </div>

        <button
          [disabled]="!loginForm.valid"
          class="flex-grow-1 btn btn-primary btn-lg"
          type="submit"
        >
          <span *ngIf="isLoading === false" class="">Sign In</span>
          <span *ngIf="isLoading === true" class="">
            Please wait...
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
        </button>
      </form>

      <div
        (click)="toggleVirtualKeyboard()"
        class="flex-grow-1 py-5 btn-lg mt-2"
      >
        <!-- Virtual Keyboard -->

        <span class="d-flex flex-center cursor-pointer" style="gap: 10px">
          <label class="form-check">
            <input
              [checked]="showVirtualKeyboard"
              class="form-check-input form-check-inline form-check-danger cursor-pointer"
              id="virtualKeyboardCheckbox"
              type="checkbox"
              value=""
            />
            <span
              [ngStyle]="{
                color: showVirtualKeyboard ? '#000' : 'gray'
              }"
              (click)="toggleVirtualKeyboard()"
              class="form-check-label font-weight-bold fs-6 cursor-pointer"
              >Virtual Keyboard</span
            >
          </label>

          <!--              <label (click)="toggleVirtualKeyboard()" class="font-weight-bold cursor-pointer"-->
          <!--                     for="virtualKeyboardCheckbox">Virtual Keyboard</label>-->
        </span>
      </div>

      <!-- Login Form End -->
    </div>
  </div>
</div>
