<div class="offer-card">
  <div class="banner-container">
    <!-- <div class="left-image">
      <img src="/assets/media/ceda-images/podcast-home-studio-header-min.jpg" alt="Banner Image" />
    </div> -->
    <div class="right-curve d-none d-sm-flex d-md-flex d-lg-flex">
      <!-- <img src="/assets/media/icons/banner-curve.svg" alt="curved img" /> -->
    </div>
    <div class="content">
      <h1>Explore our wide range of loan options</h1>
      <p>and turn your dream into reality</p>
      <a appClickable class="btn btn-danger min-w-125px" href="https://www.ceda.co.bw/services" target="_blank">
        LEARN MORE
      </a>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-body d-flex flex-column justify-content-around align-items-start px-12">
    <div class="d-flex gap-5 gap-md-10">
      <div class="mr-2">
        <div class="symbol mr-3">
          <div
            class="symbol-label bg-primary-light"
            style="background-image: url('/assets/media/logos/badge-1.svg')"
          ></div>
        </div>
      </div>

      <div class="d-flex flex-column text-start">
        <span class="text-dark-75 fw-bolder fs-1 mb-1">Policy Loan</span>
        <span class="fs-7 fw-normal fw-md-bold">
          Lowest interest rate in the market, no hidden fees, no prepayment penalties.
        </span>
      </div>
    </div>

    <div class="d-flex justify-content-start align-items-center gap-5 gap-md-10 text-start">
      <div class="d-flex flex-column">
        <div class="display-9 display-md-7">P 20,5700,000</div>
        <div class="text-white text-nowrap fs-6 fs-md-4">Limit Available</div>
      </div>

      <div class="d-flex flex-column text-start">
        <div class="display-9 display-md-7">6.0%</div>
        <div class="text-white text-nowrap fs-6 fs-md-4">Rate</div>
      </div>

      <a
        href="https://www.ceda.co.bw/search/node/loan%20rate"
        target="_blank"
        class="btn btn-outline btn-outline-danger text-nowrap font-weight-bolder font-size-sm py-3 ml-2"
      >
        Know More
      </a>
    </div>
  </div>
</div> -->