<!-- Metronic Table -->

<div class="table-responsive position-relative">
  <table
    class="table table-row-bordered table-hover gs-5 gy-3 table-header-bg-gray-300 table-header-rounded-4"
  >
    <thead>
      <tr>
        <!-- Populate Column -->
      </tr>
    </thead>

    <tbody class="position-relative min-h-300px">
      <ng-container *ngIf="contentProjected">
        <ng-content></ng-content>
      </ng-container>

      <tr *ngFor="let row of rows; let i = index">
        <!-- Populate Values -->
        <td *ngFor="let cell of row"></td>
      </tr>

      <!-- Loading or Error Messages -->
      <div
        *ngIf="(loaderService.loading$ | async) === true"
        class="d-flex flex-center flex-column h-100 w-100 position-absolute table-loading-message shadow-none"
      >
        <!-- <span>Fetching records, please wait</span> -->
        <!-- <app-loader></app-loader> -->
      </div>

      <div
        *ngIf="(loaderService.loading$ | async) === false && rows.length === 0"
        class="d-flex flex-center flex-column h-100 w-100 position-absolute table-loading-message shadow-none"
      >
        <span>No Record Found</span>
      </div>
    </tbody>
  </table>
</div>
