<div class="offer-card">
  <div class="banner-container">
    <!-- <div class="left-image">
      <img src="/assets/media/ceda-images/IMG_4549-min.jpg" alt="Banner Image" />
    </div> -->
    <div class="right-curve d-none d-sm-flex d-md-flex d-lg-flex">
      <!-- <img src="/assets/media/icons/banner-curve.svg" alt="curved img" /> -->
    </div>
    <div class="content">
      <h1>Explore our wide range of loan options</h1>
      <p>and turn your dream into reality</p>
      <a appClickable class="btn btn-danger min-w-125px" href="https://www.ceda.co.bw/agribusiness" target="_blank">
        LEARN MORE
      </a>
    </div>
  </div>
</div>