<!--Success Toast Swal Component -->
<swal #successToast [swalOptions]="successToastOption"></swal>

<!--Failure Toast Swal Component -->
<swal #failureToast [swalOptions]="failureToastOption"></swal>

<!--Warning Toast Swal Component -->
<swal #warningToast [swalOptions]="warningToastOption"></swal>

<!--Info Toast Swal Component -->
<swal #infoToast [swalOptions]="infoToastOption"></swal>


<!--Question Toast Swal Component -->
<swal #questionToast [swalOptions]="toastOptionsMixin"></swal>


<swal #testing>
  <div *swalPortal=portalTargets.content class="d-flex flex-row">

    <div class="icon flex-grow-0">
      <i class="fa fa-check-circle"></i>
    </div>


    <div class="d-flex flex-column flex-grow-1">
      <div class="title">
        <h4>Success</h4>
      </div>
      <div class="message">
        <p>Your message has been sent.</p>
      </div>
    </div>

  </div>

</swal>
