<div
  class="hover-scroll-overlay-y my-2 my-lg-5 pe-lg-n1"
  data-kt-scroll="true"
  data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer, #kt_aside_notification"
  data-kt-scroll-height="auto"
  data-kt-scroll-offset="5px"
  data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu"
  id="kt_aside_menu_wrapper"
>
  <div
    class="aside-menu menu menu-column menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold"
    data-kt-menu="true"
    id="kt_aside_menu"
  >
    <!-- Dashboard -->
    <div class="menu-item" routerLinkActive="here show">
      <a class="menu-link menu-center" routerLink="/dashboard" routerLinkActive="show">
        <span class="menu-icon me-0">
          <span class="svg-icon svg-icon-primary svg-icon-2">
            <i class="ki-duotone ki-home-3">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
        </span>
        <span class="menu-title">Dashboards</span>
      </a>
    </div>

    <div
      *ngIf="false"
      class="menu-item"
      data-kt-menu-placement="right-start"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
    >
      <a class="menu-link menu-center">
        <span class="menu-icon me-0">
          <span class="svg-icon svg-icon-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <rect
                  fill="currentColor"
                  opacity="0.3"
                  transform="translate(13.000000, 6.000000) rotate(-450.000000) translate(-13.000000, -6.000000) "
                  x="12"
                  y="8.8817842e-16"
                  width="2"
                  height="12"
                  rx="1"
                />
                <path
                  d="M9.79289322,3.79289322 C10.1834175,3.40236893 10.8165825,3.40236893 11.2071068,3.79289322 C11.5976311,4.18341751 11.5976311,4.81658249 11.2071068,5.20710678 L8.20710678,8.20710678 C7.81658249,8.59763107 7.18341751,8.59763107 6.79289322,8.20710678 L3.79289322,5.20710678 C3.40236893,4.81658249 3.40236893,4.18341751 3.79289322,3.79289322 C4.18341751,3.40236893 4.81658249,3.40236893 5.20710678,3.79289322 L7.5,6.08578644 L9.79289322,3.79289322 Z"
                  fill="currentColor"
                  fill-rule="nonzero"
                  transform="translate(7.500000, 6.000000) rotate(-270.000000) translate(-7.500000, -6.000000) "
                />
                <rect
                  fill="currentColor"
                  opacity="0.3"
                  transform="translate(11.000000, 18.000000) scale(1, -1) rotate(90.000000) translate(-11.000000, -18.000000) "
                  x="10"
                  y="12"
                  width="2"
                  height="12"
                  rx="1"
                />
                <path
                  d="M18.7928932,15.7928932 C19.1834175,15.4023689 19.8165825,15.4023689 20.2071068,15.7928932 C20.5976311,16.1834175 20.5976311,16.8165825 20.2071068,17.2071068 L17.2071068,20.2071068 C16.8165825,20.5976311 16.1834175,20.5976311 15.7928932,20.2071068 L12.7928932,17.2071068 C12.4023689,16.8165825 12.4023689,16.1834175 12.7928932,15.7928932 C13.1834175,15.4023689 13.8165825,15.4023689 14.2071068,15.7928932 L16.5,18.0857864 L18.7928932,15.7928932 Z"
                  fill="currentColor"
                  fill-rule="nonzero"
                  transform="translate(16.500000, 18.000000) scale(1, -1) rotate(270.000000) translate(-16.500000, -18.000000) "
                />
              </g>
            </svg>
            <!--end::Svg Icon-->
          </span>
        </span>
        <span class="menu-title">Transactions</span>
      </a>
      <div
        class="menu-sub menu-sub-dropdown w-225px w-lg-275px px-1 py-4"
        routerLinkActive="menu-active-bg show"
      >
        <div class="menu-item" data-kt-menu-trigger="click" routerLinkActive="here show">
          <span class="menu-link">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title" data-link="/crafted/pages/profile">Profile</span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg show">
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/profile/overview"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Overview</span>
              </a>
            </div>
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/profile/projects"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Projects</span>
              </a>
            </div>
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/profile/campaigns"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Campaigns</span>
              </a>
            </div>
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/profile/documents"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Documents</span>
              </a>
            </div>
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/profile/connections"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Connections</span>
              </a>
            </div>
          </div>
        </div>
        <div class="menu-item" data-kt-menu-trigger="click" routerLinkActive="here show">
          <span class="menu-link">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title" data-link="/crafted/pages/wizards">Wizards</span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg show">
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/wizards/horizontal"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Horizontal</span>
              </a>
            </div>
            <div class="menu-item">
              <a
                class="menu-link"
                routerLink="/crafted/pages/wizards/vertical"
                routerLinkActive="active"
              >
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Vertical</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Loan Statements -->
    <div *ngIf="false" class="menu-item" routerLinkActive="here show">
      <a
        class="menu-link menu-center"
        routerLink="/feature/loan-statements"
        routerLinkActive="show"
      >
        <span class="menu-icon me-0">
          <i class="ki-duotone ki-arrow-right-left">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </span>

        <span class="menu-title">Statements</span>
      </a>
    </div>

    <!-- Payment History -->
    <div *ngIf="false" class="menu-item" routerLinkActive="here show">
      <a
        class="menu-link menu-center"
        routerLink="/feature/payment-history"
        routerLinkActive="show"
      >
        <span class="menu-icon me-0">
          <i class="ki-duotone ki-credit-cart">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </span>

        <span class="menu-title">Payment History</span>
      </a>
    </div>

    <!-- Profile -->
    <div
      *ngIf="false"
      class="menu-item"
      data-kt-menu-flip="top"
      data-kt-menu-placement="right-start"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
    >
      <!-- <app-user-inner></app-user-inner> -->
      <span class="menu-link menu-center">
        <span class="menu-icon me-0">
          <i class="pi pi-user"></i>
        </span>
        <span class="menu-title">Profile</span>
      </span>
      <app-user-inner></app-user-inner>
    </div>

    <!-- Settings -->
    <div
      *ngIf="false"
      class="menu-item"
      data-kt-menu-placement="right-start"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
    >
      <span class="menu-link menu-center">
        <span class="menu-icon me-0">
          <i class="pi pi-gear"></i>
        </span>
        <span class="menu-title">Settings</span>
      </span>
      <div
        class="menu-sub menu-sub-dropdown w-225px w-lg-275px px-1 py-4"
        routerLinkActive="menu-active-bg show"
      >
        <div class="menu-item">
          <a class="menu-link" routerLink="/crafted/account/overview" routerLinkActive="active">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Overview</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" routerLink="/crafted/account/settings" routerLinkActive="active">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Settings</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Loan Calculator -->
    <div *ngIf="false" class="menu-item" routerLinkActive="here show">
      <a
        class="menu-link menu-center"
        routerLink="/feature/loan-calculator"
        routerLinkActive="show"
      >
        <span class="menu-icon me-0">
          <i class="ki-duotone ki-finance-calculator">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
            <span class="path7"></span>
          </i>
        </span>
        <span class="menu-title">Loan Calculator</span>
      </a>
    </div>

    <!-- Application Feedback -->
    <div *ngIf="false" class="menu-item" routerLinkActive="here show">
      <a class="menu-link menu-center" routerLink="/feature/feedback" routerLinkActive="show">
        <span class="menu-icon me-0">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'/assets/media/icons/two-star.svg'"></span>
        </span>
        <span class="menu-title">Feedback</span>
      </a>
    </div>
  </div>
</div>
