<div class="loan-mini-card--top d-flex flex-column px-4 py-3" [ngClass]="getClasses()">
  <!-- Top section -->
  <div class="text-white d-flex flex-stack mb-4">
    <!-- Loan Amount -->
    <div class="d-flex flex-column">
      <span class="mb-1" style="color: #ffffff">
        <span class="fw-bold fs-4 me-2">P</span>
        <span class="fw-bold fs-3 me-2">
          {{ formatNumber(additionalDetails?.STATEMENT_RESP?.esZloanOutStHdr?.loanAmt || '0.0') }}
        </span>
      </span>
      <span
        class="fw-normal"
        [ngStyle]="{ 'font-size': '14px', 'font-weight': 'bold', 'color': 'black' }"
      >
        Contract Amount
      </span>
    </div>

    <!-- Status and Pay Button -->
    <div
      class="d-flex flex-column flex-center"
      [ngStyle]="{ 'font-size': '16px', 'font-weight': 'medium' }"
    >
      <div
        appClickable
        data-kt-menu-trigger="click"
        class="badge badge-outline badge-sm mb-1 shadow-sm"
      >
        <!-- <span *ngIf="false" class="fs-6">{{ status }}</span> -->
        <i class="fas fa-exclamation-circle text-info text-hover-white fs-1"></i>
      </div>

      <div
        data-kt-menu="true"
        class="menu menu-sub menu-sub-dropdown menu-rounded fw-bold py-4 px-10 fs-6 mw-500px"
      >
        <app-loan-additional-details
          [accountNumber]="accountNumber"
          class="d-block"
        ></app-loan-additional-details>
      </div>
    </div>
  </div>

  <!-- Account Number -->
  <div
    class="mb-3 d-flex flex-stack"
    [ngStyle]="{ 'font-size': '22px', 'font-weight': 'medium', 'color': '#fff' }"
  >
    <div class="d-flex flex-column">
      <span class="mb-1" style="color: #ffffff">
        <!-- <span class="fw-bold fs-4 text-white me-2">A</span> -->
        <span class="fw-bold fs-3 me-2">{{ accountNumber || 'N.A' }}</span>
      </span>
      <span
        class="fw-normal"
        [ngStyle]="{ 'font-size': '14px', 'font-weight': 'bold', 'color': 'black' }"
      >
        Contract Number
      </span>
    </div>

    <!-- Pay Button -->
    <div appClickable (click)="payNow()" class="pay-button d-flex flex-center align-self-end">
      <span>Pay Now</span>
      <span class="svg-icon svg-icon-white">
        <svg
          width="7"
          height="12"
          viewBox="0 0 7 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.16663 1.41675L5.74996 6.00008L1.16663 10.5834"
            stroke="currentColor"
            stroke-opacity="1"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </div>
  </div>
</div>

<!-- Bottom card -->
<div
  class="loan-mini-card--bottom d-flex flex-row flex-stack bg-body px-4 py-2"
  [ngStyle]="{
    'border': '0px solid ' + backgroundColor,
    'border-top': 'none',
    'box-shadow': '0px 0px 2px 0px ' + backgroundColor + ',  0px 0px 0.3px 0px rgba(0, 0, 0, 0.1)'
  }"
>
  <div class="d-flex flex-column">
    <span class="mb-1">
      <!-- <span class="fw-bold fs-4 text-dark me-2">P</span> -->
      <span style="color: #ff0000" class="fw-bold fs-3 me-2">
        P {{ formatNumber(additionalDetails?.arrears || '0.0') }}
      </span>
    </span>
    <span
      class="fw-normal"
      [ngStyle]="{ 'font-size': '12px', 'font-weight': 'normal', 'color': '#ff0000' }"
    >
      Arrears
    </span>
  </div>

  <div class="d-flex flex-column">
    <span class="mb-1 fw-bold fs-3 text-dark">
      P {{ formatNumber(additionalDetails?.STATEMENT_RESP?.esZloanOutStHdr?.loanSettle || '0.0') }}
    </span>
    <span class="" [ngStyle]="{ 'font-size': '12px', 'font-weight': 'normal', 'color': '#7b7272' }">
      Estimated Settlement Amount
    </span>
  </div>
</div>
